
/*Joshua Fernandes, Goa University, 1615, WebTech Assignment 1 */
body{background-image:url("images/back.jpg");}
	
	#input{
		font-size:20px;
		}
		#input select,input{width:160px; height:30px;}
	
	#playButton{
	background: linear-gradient(#000000, #837e7e);
	display:inline-block;
	border-radius:4px;
	background-color: black;
    border: none;
	font-size: 20px;
	padding: 20px;
    width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	color:black;}
	
	#playButton span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}
	
	#playButton span:after {
      content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	
	#playButton:hover span {
	padding-right: 25px;
	}

	#playButton:hover span:after {
	opacity: 1;
	right: 0;
	}
	
	#sidebar{
	     background: linear-gradient(#000000, #808165);
		 border-radius:15px 50px;
		 background-color:black;
		 color:white;
		 width:30%;
		 height:95%;
		 border:1px solid white;
		 margin:auto;
		 padding:10px;} 
	
	#titlebar img {width:60px; height:60px; border-radius:50%;}
	#titlebar{
			font-variant: small-caps;
			text-align:center; 
			color:#447f9c; 
			font-size:40px; 
			border-bottom:2px solid #4286f4;
			text-shadow: 0px 0px 3px white;
			text-decoration: overline white;}
	
	p{color:white; padding:4px; text-align:center; letter-spacing:2px; font-size:16px;}
	
	select,input { width:40%; border-radius:4px; }
	
	span{color:#fff68f;font-variant: small-caps; letter-spacing:4px; }
	
	#container{
		   border-radius:10px;
		   display:none;
		   width:600px;
		   height:640px;
		   border:10px solid black;
		   margin-left:40%;
		   position:relative;
		   background-color:black;
			   }
			
	#title{	
			font-variant: small-caps;
			text-align:center;
			font-size:30px;
			color:white;
			background-image:url(images/logo.png);}
	
	.cell{
			position:relative;
			float:left;
			border:3px double #447f9c;
			background-color:#362c2c;}
			
	.cell:hover{opacity: 0.7;}
	
	.p{width:30px; height:30px;}
	
	.xx{font-variant: small-caps;
		font-size:15px;
		}
		
	#playAgain{
	background: linear-gradient(#000000, #837e7e);
	display:inline-block;
	border-radius:4px;
	background-color: black;
    border: none;
	font-size: 20px;
	padding: 20px;
    width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	width:600px;
	height:605px;
	}
	
	#playAgain span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}
	
	#playAgain span:after {
      content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	
	#playAgain:hover span {
	padding-right: 25px;
	}

	#playAgain:hover span:after {
	opacity: 1;
	right: 0;
	}
	